@font-face {
    font-family: 'Lalezar-Font';
    src: url(../assets/Fonts/Lalezar-Font/TTF/Lalezar-Regular.ttf) format('truetype');
}

.changePIC img {
    width: 100%;
    height: 625px;
    position: absolute;
}

.logo {
    position: relative;
    font-family: 'Lalezar-Font';
    text-align: center;
    background-color: red;
    width: 20%;
    margin-right: auto;
    margin-left: auto;
    top: 10%;
}

.login_box {
    margin-top: 12%;
    left: 28%;
    border-radius: 5px;
    opacity: .8;
    height: 130px;
    width: 44%;
    position: relative;
}

.login_box input {
    text-align: right;
    border: none;
    border-bottom: 1px solid white;
    width: 81%;
    margin: 40px 50px 60px 60px;
}

.login_box button {
    width: 100%;
    height: 50px;
    border-radius: 0px 0px 5px 5px;
    font-family: 'Lalezar-Font';
    color: white;
    cursor: not-allowed;
}

.footer_link {
    top: 71%;
    left: 42%;
    text-align: center;
    font-family: 'Lalezar-Font';
}